body{
    margin:0;
    background-color: lightpink;
}

header {
    position: relative;
    padding-left: 100px
}

nav {
    position: absolute;
    top: 0;
    right: 100px;  
}

.lists {
    display: flex;
    color: black;
    list-style-type: none;
    text-align: center;
}

.list {
    color: black;
    padding-right: 50px;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    color: black;
    padding-left: -100px;
}

introfuction{
    display: flex;
}

wii{
    padding-left: 50px;
    text-align: left;
}

img{
    width: 30%;
}

media{
    text-align: center;
    padding-top: 100px;
}

h2{
    padding-left: 30px;
}

p{
    padding-left: 30px;
}